footer{
    background-color: #ffffff;
    padding: 20px;
}

#f1{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start;
}

#f2{
    display: flex; 
    flex-direction: column; 
    text-align: left;
}

footer img{
    width: 150px; 
    height: 150px;
}

#fabt{
    display: flex; 
    flex-direction: column; 
    text-align: left; 
    margin-left: 200px; 
    margin-top: 8vh;
}

#fcp{
    display: flex; 
    flex-direction: column; 
    text-align: left; 
    margin-left: 200px; 
    margin-top: 8vh;
}

#fsl{
    flex: 1; 
    margin-left: 120px; 
    margin-top: 8vh; 
    text-align: center;
}

#facebook{
    margin: 0 10px; 
    color: #3b5998;
}
#instagram{
   margin: 0 10px; 
   color: #E1306C;
}

#x{
  margin: 0 10px; 
  color: black;
}

#youtube{
 margin: 0 10px; 
 color: #FF0000;
}

#fcopy{
    text-align: center; 
    margin-top: 8vh;
}