body{
    display: flex;
    align-items: center;
    height: 100vh;
} 
.bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg/clothing.avif);
    background-size: cover;
    background-position: center;
    filter: blur(5px);  
    z-index: -1;
}
.box {
    background: #a8a8a8;
   position: relative;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI';
    padding: 20px;
    margin-top: 20px;
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 6.5);
   border-radius: 15px;
}
input{
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid skyblue;
}
label{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 10px seashell;
    font-size: 17px;
    font-style: normal;
  

}
.big{
    background-color: #be3372; 
    size: 10px;
    color: white;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.but{
    text-align: center;
}
.sign-in{
    position: relative;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI';
}
.small{
    color: rgb(153, 14, 14);
    cursor: pointer;
    background: none;
    border: none;
    font-size: 17px;
}
a{
    font-size: 15px;
}
p{
    font-size: 15px;
}


@media(max-width: 480px){

    body{
    display: flex;
    align-items: center;
} 
.bg::before {
    content: '';
    position: absolute;
    background-image: url(img/bg/mbg.avif);
    background-size: cover;
    background-position: center;
    
}

.box {
    background: #acd9e7;
   position: relative;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI';
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 6.5);
   border-radius: 7px;
}
input{
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    border-radius: 6px;
    border: 1px solid rgb(167, 166, 166);
}
label{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 10px seashell;
    font-size: 10px;
    font-style: normal;
  

}
.big{
    background-color: #be3372; 
    size: 10px;
    color: white;
    width: 25%;
    height: 5vh;
    padding: 8px;
    font-size: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}
.but{
    text-align: center;
}
.sign-in{
    position: relative;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI';
}
.small{
    color: rgb(153, 14, 14);
    cursor: pointer;
    background: none;
    border: none;
    font-size: 12px;
}
a{
    font-size: 10px;
}
p{
    font-size: 10px;
}
}