/* General Styles */
body {
    font-family: 'Segoe UI';
}

/* Header Section */
#header {
    background-color: rgb(150, 210, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI';
    position: sticky;
    top: 0;
    left: 0;
}

#header img {
    max-height: 50px;
}

/* Navbar */
#navbar {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

#navbar li {
    margin: 0 15px;
    position: relative;
}

#navbar a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: color 0.3s ease;
    position: relative;
}

#navbar a:hover {
    color: #ff0000;
}

#navbar a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #ff0000;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: width 0.3s ease;
}

#navbar a:hover::after {
    width: 50%;
}

#navbar .active a {
    color: #ff0000;
    font-weight: bold;
}

#navbar .separator {
    width: 1px;
    height: 30px;
    background-color: #000000;
    margin: 0 10px;
}

/* banner Section */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  
  .banner h2 {
    margin-top: -12px;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 35px;
  }
  .banner p{
    margin-top: -35px;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 17px;
}
  
  .banner-images {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    max-width: 1300px;
  }
  
  .banner-item img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: auto;
  }
  
  .banner-item img:hover {
    transform: scale(1.05);
  }

  #hmb01 {
    width: 650px;
    height: 45vh;
    object-fit: cover;
    margin-left: -70px;
  }
  
  .banner-item img:nth-child(2) {
    width: 650px;
    object-fit: cover;
    margin-right: 100px;
  }

  .banner2{
    display: flex;
    justify-content:center;
    width: 70%;
    height: 40vh;
    margin-left: 200px;
  }
  
  .banner2 img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: auto;
  }
  
  .banner2 img:hover {
    transform: scale(1.05);
  }
  .ban-bg{
    border-radius: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 110vh;
    background-color: rgb(184, 255, 255);
  }

  /* footer ssection */

  .logo{
    margin-left: -50px;
}
a{
    margin-bottom: 8px;
}