/* General Styles */
body {
    font-family: 'Segoe UI';
}


/* Header Section */
#header {
    background-color: rgb(150, 210, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI';
    position: sticky;
    top: 0;
    left: 0;
}


#header img {
    max-height: 50px;
}

#navbar {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

#navbar li {
    margin: 0 15px;
    position: relative;
}

#navbar a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: color 0.3s ease;
    position: relative;
}

#navbar a:hover {
    color: #ff0000;
}

#navbar a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #ff0000;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: width 0.3s ease;
}

#navbar a:hover::after {
    width: 50%;
}

#navbar .active a {
    color: #ff0000;
    font-weight: bold;
}

#navbar .separator {
    width: 1px;
    height: 30px;
    background-color: #000000;
    margin: 0 10px;
}

/* Product Section */
#main-pro{
    background-color: rgb(197, 255, 236);
    margin-bottom: 10px;
    
}
h2 {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 35px;
}

.topic {
    margin-top: -18px;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 17px;
}

.pro-bg {
    display: flex;
    gap: 20px;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 5px;
}
.pro {
    background-color: #fff7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 200px;
    text-align: left;
    transition: 0.2s ease;
}

.pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
}

.pro img {
    width: 100%;
    border-radius: 8px;
}

.des {
    position: relative;
}

.des span {
    font-size: 14px;
    color: #555;
}

.des h5 {
    margin: 10px 0;
    font-size: 16px;
}

.star {
    color: #f8b400;
    margin-top: -5px;
}

.price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price-cart h4 {
    color: #008b3c;
    font-weight: bold;
    margin: 0;
    margin-top: -5px;
}

.price-cart a {
    color: #fe9292;
    text-decoration: none;
    font-size: 18px;
    margin-top: -5px;
}